.pressato {
    font-family: "pressato-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 20, "wght" 100;
}

.pressato .word span:hover {
    font-variation-settings: "slnt" 200, "wdth" 250, "wght" 700;
}

.cheee {
    font-family: "cheee-variable", sans-serif;
    font-variation-settings: 'YEST' 0, 'GRVT' 0;
    font-size: 12em;
    letter-spacing: 5%;
}

.cheee .word span:hover {
    font-variation-settings: 'YEST' 1000, 'GRVT' 1000;
}

.firelli {
    font-family: "firelli-variable", serif;
    font-variation-settings: "wght" 100;
    font-size: 8em;
    letter-spacing: 10%;
}

.firelli .word span:hover {
    font-variation-settings: "wght" 900;
}

.loretta {
    font-family: "loretta-display-variable", serif;
    font-variation-settings: "wght" 200;
    font-size: 10em;
    letter-spacing: 12%;
    
}

.loretta .word span:hover {
    font-variation-settings: "wght" 700;
}

.meursault {
    font-family: "meursault-variable", serif;
    font-variation-settings: "wdth" 1, "wght" 100;
    font-size: 15em;
    letter-spacing: 3%;

}

.meursault .word span:hover {
    font-variation-settings: "wdth" 200, "wght" 900;
}

.earlysans {
    font-family: "early-sans-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 10em;
    letter-spacing: 8%;
}

.earlysans .word span:hover {
    font-variation-settings: "wght" 900;
}

.scatterplot {
    font-family: "scatterplot-vf", sans-serif;
    font-variation-settings: "wght" 300, "RAND" 0;
    font-size: 10em;
    letter-spacing: 8%;
}

.scatterplot .word span:hover {
    font-variation-settings: "wght" 900, "RAND" 1000;
}

@media screen and (max-width: 80em) {
    .cheee {
        font-size: 10em;
    }

    .firelli {
        font-size: 6em;
    }

    .loretta {
        font-size: 6em;
    }

    .meursault {
        font-size: 10em;
    }

    .earlysans {
        font-size: 8em;
    }

    .scatterplot {
        font-size:7em;
    }
}

@media screen and (max-width: 48em) {
    .cheee {
        font-size: 7em;
        flex-direction: column;
    }

    .firelli {
        font-size: 5em;
    }

    .loretta {
        font-size: 5em;
    }

    .meursault {
        font-size: 8em;
    }
    
    .earlysans {
        font-size: 7em;
        letter-spacing: 2%;
    }

    .scatterplot {
        font-size: 6em;
    }
}


